<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="LocalPDF.io"
           Manufacturer="LocalPDF.io"
           Version="1.0.0.0"
           UpgradeCode="7D4DBA9E-93FE-4E42-A2B5-4A1E0B16A8B1"
           Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of LocalPDF.io is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- Application Icon and Add/Remove Programs Properties -->
    <Icon Id="AppIcon" SourceFile="packaging\windows\icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />
    <Property Id="ARPHELPLINK" Value="https://github.com/virgiliojr94/localpdf.io" />
    <Property Id="ARPURLINFOABOUT" Value="https://localpdf.io" />
    <Property Id="ARPNOREPAIR" Value="1" />

    <Feature Id="MainFeature" Title="LocalPDF.io" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="DesktopShortcutComponent" />
    </Feature>

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="LocalPDF.io" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="LocalPDF.io" />
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder" />

    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <Files Include="dist\LocalPDF\**" />
    </ComponentGroup>

    <Component Id="ApplicationShortcut" Directory="ApplicationProgramsFolder">
      <Shortcut Id="StartMenuShortcut"
                Name="LocalPDF.io"
                Target="[INSTALLFOLDER]LocalPDF.exe"
                WorkingDirectory="INSTALLFOLDER"
                Icon="AppIcon" />
      <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
      <RegistryValue Root="HKLM"
                     Key="Software\LocalPDF.io"
                     Name="installed"
                     Type="integer"
                     Value="1"
                     KeyPath="yes" />
    </Component>

    <Component Id="DesktopShortcutComponent" Directory="DesktopFolder">
      <Shortcut Id="DesktopShortcut"
                Name="LocalPDF.io"
                Target="[INSTALLFOLDER]LocalPDF.exe"
                WorkingDirectory="INSTALLFOLDER"
                Icon="AppIcon" />
      <RegistryValue Root="HKLM"
                     Key="Software\LocalPDF.io"
                     Name="desktopShortcut"
                     Type="integer"
                     Value="1"
                     KeyPath="yes" />
    </Component>
  </Package>
</Wix>
